<html>
  <body>
      <div class="container-fluid">
        <div class="row">
	  
        <!-- Edit Form -->
	    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8">
          <div class="panel panel-default">
	          <div class="panel-heading"><h4><i class="fa fa-edit fa-1x"> Edit</h4></i></div>
	          <div class="panel-body"> 
		      	<%= render 'update_form' %>
		      </div>
	      </div>
    	</div>
	    
	    <!-- Sidebar -->
	    <div class="container-fluid">
	      <div class="row">
	      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
		    
		    <div class="panel panel-default">
			    <div class="panel-heading"><h5><i class="fa fa-image fa-1x"> Featured Image</i></h5></div>
			    <div class="panel-body">
			    	<%= image_tag @article.feature.url(:medium), class: "img img-thumbnail img-responsive" %>
			    </div>
		    </div>

		    <ul class="nav nav-pills nav-stacked">
		      <li><a class="btn btn-primary btn-block" role="button" href="<%= articles_path %>">View All</a></li>
		      <li><a class="btn btn-warning btn-block" role="button" href="<%= article_path %>" onclick="alert("Are you sure?");">Cancel</a></li>
		    </ul>
	      </div>
	    </div>
	    </div>
        </div>
      </div>
  </body>
</html>