<h1>Home#contact</h1>
<p>Find me in app/views/home/contact.html.erb</p>
    <form>
      <div class="form-group">
        <label>Email:</label>
        <input type="email">
        <label>Password:</label>
        <input type="password">
      </div>
    </form>
    
    <%= bootstrap_form_for %>
    
    <p>
      <%= text_field %>
    </p>